<div class="contents row">
  <p>投稿一覧</p>
  <% @posts.each do |post| %>
    <div class="content_post"">
      <%= simple_format(post.text) %>
    </div>
  <% end %>
          <%= paginate(@posts) %>
</div>